In [3]:
## Basic stuff
%load_ext autoreload
%autoreload
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("""<style>div.output_area{max-height:10000px;overflow:scroll;}</style>"""))

## Python Version
import sys
print("Python: {0}".format(sys.version))

from combine import combine
from fsUtils import moveFile
from ioUtils import getFile
from timeUtils import clock, elapsed
from pandas import DataFrame, Series, read_csv


import datetime as dt
start = dt.datetime.now()
print("Notebook Last Run Initiated: "+str(start))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Python: 3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Notebook Last Run Initiated: 2019-11-01 09:38:50.078805

# Load Data

In [4]:
help(read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [28]:
names_basics = read_csv("/Users/tgadfort/Downloads/name.basics.tsv", sep='\t')
names_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0071877,tt0117057,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0049189,tt0054452,tt0059956,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0077975,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"

In [29]:
names = names_basics[["nconst", "primaryName"]]

In [10]:
title_akas = read_csv("/Users/tgadfort/Downloads/title.akas.tsv", sep='\t')
title_akas.head()

/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0
3,tt0000001,4,Carmencita,US,\N,\N,\N,0
4,tt0000001,5,Carmencita,\N,\N,original,\N,1

In [12]:
title_basics = read_csv("/Users/tgadfort/Downloads/title.basics.tsv", sep='\t')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,\N
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,\N
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,\N
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,\N

In [27]:
title_akas[title_akas["titleId"] == 'tt9916844']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
19146779,tt9916844,1,Episodio #3.15,IT,it,\N,\N,0
19146780,tt9916844,2,Folge #3.15,DE,de,\N,\N,0
19146781,tt9916844,3,एपिसोड #3.15,IN,hi,\N,\N,0
19146782,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
19146783,tt9916844,5,エピソード #3.15,JP,ja,\N,\N,0
19146784,tt9916844,6,Episódio #3.15,PT,pt,\N,\N,0
19146785,tt9916844,7,Episodio #3.15,ES,es,\N,\N,0

In [20]:
titles = title_basics[["tconst", "primaryTitle", 'startYear']]

In [14]:
title_principles = read_csv("/Users/tgadfort/Downloads/title.principals.tsv", sep='\t')
title_principles.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [18]:
actors = title_principles[title_principles['category'].isin(["actor", "self", "actress"])]

In [21]:
actorstitles = actors.merge(titles, on=['tconst'], how='left')

In [30]:
namestitles = actorstitles.merge(names, on=['nconst'], how='left')

In [32]:
namestitles

,tconst,ordering,nconst,category,job,characters,primaryTitle,startYear,primaryName
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]",Carmencita,1894,Carmencita
1,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]",Blacksmith Scene,1893,Charles Kayser
2,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]",Blacksmith Scene,1893,John Ott
3,tt0000007,1,nm0179163,actor,\N,\N,Corbett and Courtney Before the Kinetograph,1894,James J. Corbett
4,tt0000007,2,nm0183947,actor,\N,\N,Corbett and Courtney Before the Kinetograph,1894,Peter Courtney
5,tt0000008,1,nm0653028,actor,\N,"[""Sneezing Man""]",Edison Kinetoscopic Record of a Sneeze,1894,Fred Ott
6,tt0000009,1,nm0063086,actress,\N,"[""Miss Geraldine Holbrook (Miss Jerry)""]",Miss Jerry,1894,Blanche Bayliss
7,tt0000009,2,nm0183823,actor,\N,"[""Mr. Hamilton""]",Miss Jerry,1894,William Courtenay
8,tt0000009,3,nm1309758,actor,\N,"[""Chauncey Depew - the Director of the New Yor...",Miss Jerry,1894,Chauncey Depew
9,tt0000011,1,nm3692297,actor,\N,"[""Acrobats""]",Akrobatisches Potpourri,1895,Grunato
10,tt0000012,1,nm2880396,self,\N,"[""Herself""]",The Arrival of a Train,1896,Madeleine Koehler
11,tt0000012,2,nm9735580,self,\N,"[""Himself""]",The Arrival of a Train,1896,Marcel Koehler
12,tt0000012,3,nm0525900,self,\N,"[""Herself""]",The Arrival of a Train,1896,Mrs. Auguste Lumiere
13,tt0000012,4,nm9735581,self,\N,"[""Herself""]",The Arrival of a Train,1896,Jeanne-Joséphine Lumière
14,tt0000012,7,nm9735579,self,\N,"[""Herself""]",The Arrival of a Train,1896,Rose Lumière
15,tt0000012,8,nm9653419,self,\N,"[""Herself""]",The Arrival of a Train,1896,Suzanne Lumière
16,tt0000013,1,nm0525908,self,\N,"[""Himself""]",The Photographical Congress Arrives in Lyon,1895,Auguste Lumière
17,tt0000013,2,nm1715062,self,\N,"[""Himself""]",The Photographical Congress Arrives in Lyon,1895,P.J.C. Janssen
18,tt0000014,1,nm0166380,actor,\N,"[""The Gardener""]",The Sprinkler Sprinkled,1895,François Clerc
19,tt0000014,2,nm0244989,actor,\N,"[""The Boy""]",The Sprinkler Sprinkled,1895,Benoît Duval
20,tt0000016,1,nm0525900,self,\N,"[""Herself (on the pier)""]",Barque sortant du port,1895,Mrs. Auguste Lumiere
21,tt0000016,2,nm9735581,self,\N,"[""Herself (on the pier)""]",Barque sortant du port,1895,Jeanne-Joséphine Lumière
22,tt0000017,1,nm3691272,actor,\N,"[""The boy""]",Italienischer Bauerntanz,1895,Ploetz
23,tt0000017,2,nm3692829,actress,\N,"[""The girl""]",Italienischer Bauerntanz,1895,Larella
24,tt0000018,1,nm3692071,actor,\N,"[""The Boxer""]",Das boxende Känguruh,1895,Delaware
25,tt0000024,1,nm0256651,self,\N,"[""Herself - Empress of Gemany""]",Opening of the Kiel Canal,1895,Empress Augusta Victoria
26,tt0000024,2,nm0435118,self,\N,"[""Himself - Emperor of Germany""]",Opening of the Kiel Canal,1895,Kaiser Wilhelm II
27,tt0000026,1,nm2350007,actor,\N,"[""Valet""]",The Messers. Lumière at Cards,1896,Antoine Féraud
28,tt0000026,2,nm0525907,actor,\N,"[""Man playing cards, seated on the left""]",The Messers. Lumière at Cards,1896,Antoine Lumière
29,tt0000026,3,nm1151424,actor,\N,"[""Man playing cards, seated on the right""]",The Messers. Lumière at Cards,1896,Félicien Trewey
...,...,...,...,...,...,...,...,...,...
20819940,tt9916844,1,nm5519557,actor,\N,"[""Cetin Ertas""]",Episode #3.15,2010,Onur Adiguzel
20819941,tt9916844,2,nm8825009,actor,\N,"[""Umut""]",Episode #3.15,2010,Anil Altan
20819942,tt9916844,3,nm5262613,actress,\N,"[""Zehra""]",Episode #3.15,2010,Pelin Akil
20819943,tt9916844,4,nm8690065,actress,\N,"[""Aliye""]",Episode #3.15,2010,Zeynep Alkan
20819944,tt9916846,1,nm5519557,actor,\N,"[""Cetin Ertas""]",Episode #3.18,2010,Onur Adiguzel
20819945,tt9916846,2,nm8825009,actor,\N,"[""Umut""]",Episode #3.18,2010,Anil Altan
20819946,tt9916846,3,nm5262613,actress,\N,"[""Zehra""]",Episode #3.18,2010,Pelin Akil
20819947,tt9916846,4,nm8690065,actress,\N,"[""Aliye""]",Episode #3.18,2010,Zeynep Alkan
20819948,tt9916848,1,nm5519557,actor,\N,"[""Cetin Ertas""]",Episode #3.17,2010,Onur Adiguzel
20819949,tt9916848,2,nm8825009,actor,\N,"[""Umut""]",Episode #3.17,2010,Anil Altan
20819950,tt9916848,3,nm5262613,actress,\N,"[""Zehra""]",Episode #3.17,2010,Pelin Akil
20819951,tt9916848,4,nm8690065,actress,\N,"[""Aliye""]",Episode #3.17,2010,Zeynep Alkan
20819952,tt9916850,1,nm5519557,actor,\N,"[""Cetin Ertas""]",Episode #3.19,2010,Onur Adiguzel
20819953,tt9916850,2,nm8825009,actor,\N,"[""Umut""]",Episode #3.19,2010,Anil Altan
20819954,tt9916850,3,nm5262613,actress,\N,"[""Zehra""]",Episode #3.19,2010,Pelin Akil
20819955,tt9916850,4,nm8690065,actress,\N,"[""Aliye""]",Episode #3.19,2010,Zeynep Alkan
20819956,tt9916852,1,nm5519557,actor,\N,"[""Cetin Ertas""]",Episode #3.20,2010,Onur Adiguzel
20819957,tt9916852,2,nm8825009,actor,\N,"[""Umut""]",Episode #3.20,2010,Anil Altan
20819958,tt9916852,3,nm5262613,actress,\N,"[""Zehra""]",Episode #3.20,2010,Pelin Akil
20819959,tt9916852,4,nm8690065,actress,\N,"[""Aliye""]",Episode #3.20,2010,Zeynep Alkan
20819960,tt9916856,1,nm3394271,actress,\N,"[""Maria""]",The Wind,2015,Leni Wesselman
20819961,tt9916856,2,nm10538650,actress,\N,"[""Sandra""]",The Wind,2015,Anna Fitoussi
20819962,tt9916856,3,nm10538646,actor,\N,"[""Stephan""]",The Wind,2015,Andreas Demmel
20819963,tt9916856,4,nm10538647,actress,\N,"[""Kathi""]",The Wind,2015,Kathrin Knöpfle
20819964,tt9916880,10,nm1469295,actress,\N,"[""Perfect Peter"",""Lazy Linda""]",Horrid Henry Knows It All,2014,Emma Tate
20819965,tt9916880,1,nm1483166,actor,\N,"[""Rude Ralph"",""Mischievous Mike"",""Jolly Josh""]",Horrid Henry Knows It All,2014,Aidan Cook
20819966,tt9916880,2,nm0254176,actress,\N,"[""Moody Margaret""]",Horrid Henry Knows It All,2014,Sue Elliott-Nichols
20819967,tt9916880,3,nm0286175,actor,\N,"[""Dad"",""Aerobic Al"",""Nasty Nicola""]",Horrid Henry Knows It All,2014,Wayne Forester
20819968,tt9916880,4,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]",Horrid Henry Knows It All,2014,Tamsin Heatley
20819969,tt9916880,9,nm2676923,actress,\N,"[""Sour Susan"",""Goody-Goody Gordon"",""Singing So...",Horrid Henry Knows It All,2014,Joanna Ruiz